**/.*/*
.vsconfig
!**/.bin/*.backup
**/[Oo]bj/
**/[Bb]in/
#**/[Pp]ackages/
**/Debug/
**/Release/
!**/.gdignore
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/spellright.dict
!.vscode/c_cpp_properties.json
!.doc/**/*
godot.log
vc*.pdb
.scons*
**/src/**/*.obj
**/__pycache__/
_ReSharper.Caches
Library/
Temp/
Logs/
UserSettings/
*.sln
*.csproj
